@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Arimo', sans-serif;
    color: white;
}



.invisible{
    display: none;
}
.visible{
    display: block;
}
.graphicFilter{
    opacity: 0.1;
}
ul{
    list-style: none;
}


/* CLASSI FLEX */
.dFlex{
    display: flex;
}
.fDirectionCol{
    flex-direction: column;
}
.justifyBetween{
    justify-content: space-between;
}
.justifyAround{
    justify-content: space-around;
}
.justifyStart{
    justify-content: flex-start;
}
.justifyEnd{
    justify-content: flex-end;
}
.alignCenter{
    align-items: center;
}
.fWrap{
    flex-wrap: wrap;
}
/* CLASSI FLEX */



.nav-bar{
    position: fixed;
    width: 100%;
    height: 80px;
    border-bottom: 2px outset lightgray;
    z-index: 1;
    background-color: #141414;
}
.nav-bar ul{
    margin-left: 30px;
}
.nav-bar li{
    color: lightgrey;
    margin: 0px 10px;
    transition: color 200ms;
}
.nav-bar li:hover{
    color: white;
    cursor: pointer;
}
.nav-bar input{
    width: 300px;
    height: 35px;
    padding: 8px;
    margin-right: 100px;
    border: 1px solid lightgrey;
    background-color: #141414;
    color: white;
}
.nav-bar div:first-child img{
    height: 60px;
    margin-left: 20px;
}
.nav-bar div:last-child img{
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}



.contentWindow{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
    background-color: #141414;
    scrollbar-width: none;
    
}
.contentWindow::-webkit-scrollbar{
    display: none;
}
.scheda{
    margin: 20px 10px;
    padding: 10px;
    text-align: left;
    flex-grow: unset;
    flex-shrink: unset;
    background-color: #1a1a1a;
}
.filmBox{
    width: 240px;
    height: 360px;
}
.filmBox div:first-child{
    position: relative;
}
.filmBox img{
    width: 100%;
    height: 360px;
}
.description{
    position: absolute;
    top: 10px;
    left: 5px;
    text-overflow: ellipsis;
    overflow-y: auto;
    height: 320px;
    scrollbar-width: none;
}
.description::-webkit-scrollbar{
    display: none;
}
.description ul{
    margin: 5px 0px;
}
.description ul li{
    display: inline-block;
}


